/* UserTypeSelectionPage.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set the body to at least the height of the viewport */
}

.container {
  flex: 1; /* Allow the container to grow and take up remaining space */
  max-width: 200px; /* Adjusted for better visibility */
  margin: 50px auto 100px; /* Increased bottom margin */
  padding: 40px 20px 60px; /* Increased padding at the bottom for more height */
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #333;
}

/* Center only the specific buttons */
button.continue,
button.farmer,
button.customer {
  margin: 0 auto;
  display: block;
}

button {
  padding: 15px; /* Increased button height */
  margin-bottom: 15px; /* Increased margin-bottom for more spacing */
  font-size: 16px;
  background-color: #000 !important; /* Set button color to black with !important */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #333; /* Darken the color on hover */
}

.link-container {
  display: flex;
  justify-content: space-between;
}

.link-container a {
  text-decoration: none;
  color: #03090c;
  font-weight: bold;
  font-size: 16px;
}
